.container{
    margin-top: 10%;
    text-align: center;
}

.loginForm{
    background-color: #fff;
    color:#fff;
    display: block;
    width:340px;
    max-width: 90%;
    padding:20px 20px;
    border-radius: 8px;
    margin:auto;
  }

  .full-width{
    width:100%;
  }
